# Ib added ignore files
venv/
secrets.toml
*makefile
*.tmp
.streamlit/
TradingAgents-main/
*.toml
*.zip
*.env
ov_cache/
csv/*.csv
!csv/*v1.0.0*.csv  
*ignore*/
*ignore*.*
images/*.svs
# Ignore compiled files
*.pyc
*.pyo
*.pyd
# Byte-compiled / optimized / DLL files
.cache/
__pycache__/
*.py[codz]
*$py.class

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
# Built Visual Studio Code Extensions
*.vsix

.streamlit/
.python-version
resnet50_fp16.xml
resnet50_fp16.bin
requirementss.txt
ignore.py
.gitignore
kernel.errors.txt
bench_resnet50_openvino.py
checkpoints/**/features/